.container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 56px;
    background-color: white;

    .content{
        position: absolute;
        width: 100%;
        top: 141px;
        bottom: 0;
        overflow: auto;

        
        .noplan{
            position: absolute;
            width: 100%;
            color: #ccc;
            font-size: 18px;
            text-align: center;
            margin-top: 120px;
        }

        
        .listItem{
            display: flex;
            align-items: center;
            height: 60px;
            padding: 5px 0 5px 15px;
        }
        .textcontent{
            flex-grow: 1;
            margin: 0 0 0 15px;

            .primaryText{
                color: #202020;
                font-size: 16px;
            }
            .secondaryText{
                color: #575757;
                font-size: 14px;
            }
        }
    }

    .content_notoolbar{
        top: 85px;
    }
}
