.container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 56px;
    background-color: white;

    .content{
        position: absolute;
        width: 100%;
        top: 141px;
        bottom: 0;
        overflow: auto;

        
        .noplan{
            position: absolute;
            width: 100%;
            color: #ccc;
            font-size: 18px;
            text-align: center;
            margin-top: 120px;
        }

        .headtitle{
            padding: 0 10px !important;
            height: 35px !important;
            width: 100% !important;
            display: flex !important;
            justify-content: space-between !important;
            align-items: center !important;
        }
    }

    .content_notoolbar{
        top: 85px;
    }

    .promotionPanel{
        position: relative;
        margin: 0 10px 40px 10px;
        height: 110px;
        background-color: white;

        .titlebar{
            position: absolute;
            color: white;
            height: 35px;
            font-size: 14px;
            width: 100%;
            padding: 0 10px;
            background:lightseagreen;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .content{
            position: absolute;
            bottom: 30px;
            top: 35px;
            width: 100%;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            border-bottom: 1px solid #ccc;
        }
        .footbar{
            position: absolute;
            height: 30px;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 13px;

            .line{
                width: 1px;
                height: 100%;
                background-color: #ccc;
            }

            .footcontent{
                height: 100%;
                flex-grow: 1;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
    .nomargin{
        margin: 2px 1px 40px 1px;
    }
}
