.container{
    position: absolute;
    top: 110px;
    bottom: 25px;
    left: 45px;
    right: 45px;
    background-color: white;

    .contentmenu{
        position: absolute;
        width: 210px;
        top: 25px;
    }

    .visitorcontent{
        position: absolute;
        left: 210px;
        right: 0;
        height: 100%;

        .visitortitle{
            font-size: 27px;
            color: #3f3f3f;
            margin: 30px 35px;
        }

        .addcontent{
            float: right;
            width: 86px;
            height: 35px;
            margin: 0 30px;
        }
        .editcontent{
            width: 100%;
            height: 30px;
            margin: 0 35px;
            display: flex;
        }

        .visitortable{
            position: absolute;
            top: 140px;
            bottom: 0;
            width: 100%;
            padding: 0 30px;
            overflow-y: auto;
        }
    }
}