.container {
    position: absolute;
    width: 100%;
    height: 100%;

    .inputform{
        padding: 10px 40px;
        display: flex;
        align-items: center;

        .inputIcon{
            font-size:'16px';
            margin-right:'20px';
        }
    }
}