.container{
    position: absolute;
    top: 75px;
    bottom: 0;
    left: 35px;
    right: 35px;
    background-color: white;

    .contentmenu{
        position: absolute;
        width: 210px;
        top: 25px;
    }

    .configcontent{
        position: absolute;
        left: 210px;
        right: 0;
        height: 100%;

        .configtitle{
            font-size: 27px;
            color: #3f3f3f;
            margin: 30px 35px 10px;
        }

        .addcontent{
            float: right;
            width: 86px;
            height: 35px;
            margin: 0 30px;
        }
        .editcontent{
            width: 100%;
            height: 30px;
            margin: 0 35px;
            display: flex;
        }

        .configtable{
            position: absolute;
            top: 120px;
            bottom: 0;
            width: 100%;
            padding: 0 30px;
            overflow-y: auto;
        }
    }
}

.operatecontent{
    font-size: 16px;
    //position: absolute;
    line-height: 28px;
    height: 28px;
    top: 0;

    a{
        margin: 0 5px;
    }
}

.formcontent{
    display: flex;
    align-items: center;
    height: 30px; 
    margin: 0 0 5px;

    .formstar{
        margin: 0 10px;
        color: red;
    }

    .formtitle{
        margin: 0 15px 0 5px;
        text-align: right;
        width: 60px;
    }

    .form{
        width: 200px;
        p{
            font-weight: bold;
        }
    }
}

.formtreecontent{
    display: flex;
    align-items: flex-start;
    margin: 0 0 5px;
    height: auto; 
    .formtitle{
        margin: 14px 15px 0 5px;
    }
    .form{
        :global .ant-tree{
            font-size: 13px;
        }
    }
    
}

.formmultiselcontent{
    display: flex;
    align-items: flex-start;
    margin: 0 0 5px;
    height: auto; 
    .formtitle{
        margin: 5px 15px 0 5px;
    }
    .form{
        :global .ant-tree{
            font-size: 13px;
        }
    }
}