
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Microsoft Yahei';
  overflow: hidden;
}

p{
  margin : 0;
}

.ant-checkbox-wrapper:hover .ant-checkbox .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-focused .ant-checkbox-inner {
  border-color: #3E8655;
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: #3E8655;
  border-color: #3E8655;
}

.ant-menu-vertical > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-item-group-list > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title{
  font-size: 14px;
}

.ant-table-tbody>tr>td {
  padding: 12px 8px;
}

.ant-table{
  color : rgb(58,58,58);
}