
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Microsoft Yahei';
  overflow: hidden;
}

p{
  margin : 0;
}

.ant-checkbox-wrapper:hover .ant-checkbox .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-focused .ant-checkbox-inner {
  border-color: #3E8655;
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: #3E8655;
  border-color: #3E8655;
}