html {
  font-family: 'Roboto', sans-serif ,'microsoft yahei';
  user-select: none;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.ant-message {
  z-index: 9999;
}

.ant-spin-nested-loading .ant-spin-show-text.ant-spin-lg .ant-spin-dot{
  margin-top: 30px;
}

.ant-spin-nested-loading .ant-spin-lg .ant-spin-text {
  padding-top: 75px;
}

.ant-spin-nested-loading {
  position: static;
}

.ant-spin-container{
  position: static;
}